.programs-section {
  background-color: #f8f9fa; /* Light background */
}

.programs-section h1 {
  font-size: 2.5rem;
}

.programs-section p {
  font-size: 1rem;
  color: black; /* Muted text */
}

.card {
  border: none;
  transition: transform 0.2s ease-in-out;
  margin-left: 5%;
  margin-right: 5%;
}

.card-img-top {
  border-bottom: 2px solid red; /* Add a blue border under the image */
}

.program-card img {
  width: 100%; /* Makes all images fill their container */
  height: 150px; /* Sets a fixed height for consistency */
  object-fit: cover; /* Ensures images don't stretch but fill the space */
  border-radius: 8px; /* Optional: Gives images rounded corners */
}
